.card {
  margin-bottom: 1.5rem;
  height: calc(100% - 1.5rem);
  border: 0;
  box-shadow: $box-shadow;
  &-header {
    background: none;
    border-width: 0;
    padding: 20px;
    padding-bottom: 0rem;
  }
  &-title {
    font-size: 1.2rem;
  }
  &-body {
    padding: 20px;
  }
}

// .quick-trad {
//   .card-header {
//     border-width: $border-width;
//   }
// }
